<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Ionic">
  <ion-content padding="true">
    <img src="img/ionic.png" class="ionic-logo">
    <p>
      This is a sample book info project using this Ionic Framework.
    </p>
    <p>
      Questions? Hit up the 
      <a href="http://forum.ionicframework.com/" target="_blank">forum</a>.
    </p>
    <p>
      Stay up-to-date with the Ionic 
      <a href="http://ionicframework.com/subscribe/" target="_blank">newsletter</a> and 
      <a href="https://twitter.com/Ionicframework" target="_blank">twitter</a> account.
    </p>
   
  </ion-content>
</ion-view>
